doctype html
html(lang="en")
head
    title #{info.Dish}
    script(type='text/javascript', src='/javascripts/t.js')
body  
    a(href='../index2.html') edit
    a(href='delete/'+`${info.Dish}`) delete
    li Dish: #{info.Dish}
    li Ingredient: #{info.Ingredient}
    li Comment: #{info.Comment}